body {
  font-family: 'SUIT Variable', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 20px;
  background-color: #303030;
  padding: 10px;

  li {
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 10px;
    background-color: #ddd;

    a {
      color: black;
      text-decoration: none;
    }
  }

  li:hover {
    background-color: #aaa;
  }
}


nav .active {
  color: coral;
  font-weight: bolder;
}